* {
    font-family: Helvetica, Arial, sans-serif;
  } 

img {
    height: 300px;
    width: 400px;
}

h1 {
    font-size: 40px;
}

#JJ {
    background-color: blue;
    text-align: center;
    padding: 20px 0;
}

#JM {
    background-color: pink;
    text-align: center;
    padding: 20px 0;
}
